body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    padding: 2em;
}

/* HEADINGS */

.header-main {
    font-weight: normal;
    font-size: 50px;
    color: white;
    padding-bottom: 2rem;
}

.header-secondary {
    color: white;
    font-size: 42px;
    font-weight: 300;
}

.header--sub-header {
    font-size: 21px;
    color: grey;
}

.link-cta {
    font-size: 1rem;
    color: aquamarine;
}

/* LINKS */

